@use '../base/variables' as v;

.alert {
    padding: 1rem 1rem 1rem 2rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    max-width: 80rem; 

    &.error {
        background-color: lighten(v.$red, 60%);
        border-left: .5rem solid v.$red;
        color: v.$red;
    }
    &.succes {
        background-color: lighten(v.$green, 60%);
        border-left: .5rem solid v.$green;
        color: v.$green;
    }
}