// Fuentes
$headings_font: 'Inter', sans-serif;
$texts_font: 'Open Sans', sans-serif;

// Tamaño de Media Queries
$movile: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$cyan: #0891B2;
$blue: #2563EB;
$indigo: #4338CA;
$purple: #7C3AED;
$orange:#F59E0B;
$pink: #DB2777;

$white: #FFFFFF;
$gray: #6b7280;
$darkGray: #4B5563;
$black: #000;

$red: rgb(169, 0, 0);
$green: rgb(0, 120, 0);

$spacing: 5rem;