@use '../base/variables' as v;
@use '../base/mixins' as m;


.confirm {
  padding-top: v.$spacing;

  .uptask {
    @include m.gradientTextHeading(v.$indigo, 10rem, 7rem);
  }

  .actions {
    display: grid;
    place-content: center;
    a {
      @include m.button(v.$indigo, v.$white);
    }
  }
}
